

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans , sans-serif;
    height: 100vh;
    background: #000;
    color: #fff;
    display: grid;
    place-items: center;
    cursor: none;
}

.container{
    margin: 200px;
}

.container h1{
    font-size: 6rem;
    margin: 0;
}

.container p{
    font-size: 18px;
    line-height: 1.7;
}

/*Cursor start*/
[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
}

.cursor-outer{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;

    transition: all .08s ease-out;
}


.cursor-inner{
    width: 7px;
    height: 7px;
    background: #fff;    
}





.container:hover ~ .cursor-outer{
    width: 90px;
    height: 90px;
    background-color: #fff;

     mix-blend-mode: difference; 
}



.container:hover ~ .cursor-inner{
    opacity: 0;

}
